{"openapi":"3.1.0","info":{"title":"Mixpeek API","description":"This is the Mixpeek API, providing access to various endpoints for data processing and retrieval.","termsOfService":"https://mixpeek.com/terms","contact":{"name":"Mixpeek Support","url":"https://mixpeek.com/contact","email":"info@mixpeek.com"},"version":"0.81"},"servers":[{"url":"https://api.mixpeek.com","description":"Production"}],"paths":{"/v1/private/organizations":{"post":{"tags":["Private"],"summary":"Create Organization Private","description":"Create a new private organization.","operationId":"create_organization_private_v1_private_organizations_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModelResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/private/organizations/{organization_identifier}":{"get":{"tags":["Private"],"summary":"Get Organization Private","description":"Get a private organization by ID or name.","operationId":"get_organization_private_v1_private_organizations__organization_identifier__get","parameters":[{"name":"organization_identifier","in":"path","required":true,"schema":{"type":"string","title":"Organization Identifier"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModelResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Private"],"summary":"Update Organization Private","description":"Admin-only: update organization tier, rate limits, and infrastructure.\n\nSecurity: This endpoint is ONLY accessible with MIXPEEK_PRIVATE_TOKEN.\nIt allows updating infrastructure configuration (Qdrant/Ray URLs) for ENTERPRISE customers.\n\nInfrastructure updates require Mixpeek admin privileges and are logged for audit.","operationId":"update_organization_private_v1_private_organizations__organization_identifier__patch","parameters":[{"name":"organization_identifier","in":"path","required":true,"schema":{"type":"string","title":"Organization Identifier"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationAdminUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModelResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Private"],"summary":"Delete Organization Private","description":"Delete a private organization.","operationId":"delete_organization_private_v1_private_organizations__organization_identifier__delete","parameters":[{"name":"organization_identifier","in":"path","required":true,"schema":{"type":"string","title":"Organization Identifier"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericDeleteResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/private/organizations/add-user":{"post":{"tags":["Private"],"summary":"Add User To Organization Private","description":"Add a user to a private organization.","operationId":"add_user_to_organization_private_v1_private_organizations_add_user_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUserToOrganizationRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationModelResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/private/organizations/{organization_id}/users/{user_email}/bootstrap-key":{"post":{"tags":["Private"],"summary":"Create Bootstrap Api Key","description":"Create the organization's primary API key (requires MIXPEEK_PRIVATE_KEY).\n\n🔑 IMPORTANT - Two Different Keys (DO NOT CONFUSE):\n\n1. MIXPEEK_PRIVATE_KEY (what you use to call THIS endpoint):\n   - Static, hardcoded token shared between studio proxy and backend\n   - Used ONLY for server-to-server /v1/private/* endpoint calls\n   - Never changes, never stored in database\n   - Never used by frontend UI\n   - Example: xnefritAiaKQiddNL3ZHWEN4cHWLsCkwEycUDLU2wLekQEuf\n\n2. Organization API Key (what THIS endpoint creates and returns):\n   - Created ONCE per organization with ADMIN permissions\n   - Used by frontend UI for ALL /v1/* API calls\n   - Named \"admin-key\" and stored in database (hashed)\n   - Plaintext returned ONCE on creation\n   - 🔒 PROTECTED: Users CANNOT delete, rotate, or change permissions on this key\n   - Example: sk_kbHvXHAySDUrzrPo2ajwmqBAXJ...\n\nThis endpoint creates an Organization API key (type #2) that the frontend will use.\nIt does NOT create, modify, or touch the MIXPEEK_PRIVATE_KEY (type #1).\n\n⚠️ The plaintext key is only returned ONCE on creation - store it in localStorage!\n✅ If called when key exists: Revokes old key and returns a new one (idempotent)","operationId":"create_bootstrap_api_key_v1_private_organizations__organization_id__users__user_email__bootstrap_key_post","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}},{"name":"user_email","in":"path","required":true,"schema":{"type":"string","title":"User Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Bootstrap Api Key V1 Private Organizations  Organization Id  Users  User Email  Bootstrap Key Post"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/private/configurations/storage/cors":{"get":{"tags":["Private"],"summary":"Get Current CORS Configuration","description":"Retrieve the current CORS configuration for the object storage bucket.\n\n    **Use this to:**\n    - Verify CORS is properly configured\n    - Check which origins are currently allowed\n    - Troubleshoot CORS-related issues\n    - Audit current security settings","operationId":"get_storage_cors_v1_private_configurations_storage_cors_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CORSConfigurationInfo"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Private"],"summary":"Configure CORS for Object Storage","description":"Configure CORS (Cross-Origin Resource Sharing) on the object storage bucket.\n\n    **Why is this needed?**\n    When using presigned URLs for browser-based uploads, browsers enforce CORS policies.\n    Without proper CORS configuration, uploads from the frontend will fail with CORS errors.\n\n    **When to use this:**\n    - During initial setup of the Mixpeek platform\n    - When adding new frontend domains (development, staging, production)\n    - When troubleshooting browser upload failures\n\n    **Important notes:**\n    - This is an admin-only operation (requires admin API key)\n    - CORS is configured on the entire object storage bucket (not per-namespace)\n    - Changes take effect immediately but may be cached by browsers\n    - This works for any object storage provider (S3, LocalStack, GCS)\n\n    **Common use cases:**\n    1. Local development: Configure localhost origins\n    2. Production: Configure production domain origins\n    3. Multi-environment: Configure multiple origins for dev/staging/prod","operationId":"configure_storage_cors_v1_private_configurations_storage_cors_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigureCORSRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CORSConfigurationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/private/configurations/clickhouse/diagnostics":{"get":{"tags":["Private"],"summary":"Diagnose ClickHouse Configuration","description":"Run diagnostics on ClickHouse to check version, settings, and data type behavior.\n\n    This is useful for:\n    - Debugging differences between local and production environments\n    - Verifying ClickHouse configuration\n    - Checking if COUNT() returns strings or integers","operationId":"diagnose_clickhouse_v1_private_configurations_clickhouse_diagnostics_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/public/retrievers/":{"get":{"tags":["Public Retriever API"],"summary":"List Public Retrievers","description":"List all public retrievers with pagination and search.\n\nThis endpoint allows browsing and discovering all published retrievers\nacross all organizations. No authentication required.\n\n**Authentication:**\n- NO authentication required - completely public endpoint\n- Discover retrievers created by all Mixpeek users\n\n**Pagination:**\n- Default: page=1, page_size=20\n- Maximum page_size: 100\n- Returns total count and total pages\n\n**Search:**\n- Search across retriever titles and descriptions\n- Case-insensitive regex matching\n- Combine with pagination\n\n**Filtering:**\n- By default, only active retrievers are shown\n- Set `include_inactive=true` to see all retrievers\n\n**Response includes:**\n- List of public retrievers with basic info\n- Pagination details (page, page_size, total_count, total_pages)\n- Aggregate statistics (total active, password protected, open)\n\n**What's NOT exposed:**\n- API keys (except in individual config endpoint)\n- Internal IDs or organization details\n- Full retriever configuration (use template endpoint for that)\n- Password values (only password_protected: true/false)\n\n**Example:**\n```bash\n# List all public retrievers (first page)\ncurl -X GET \"https://api.mixpeek.com/v1/public/retrievers/\"\n\n# Search for video-related retrievers\ncurl -X GET \"https://api.mixpeek.com/v1/public/retrievers/?search=video&page_size=50\"\n\n# Get page 2 with custom page size\ncurl -X GET \"https://api.mixpeek.com/v1/public/retrievers/?page=2&page_size=50\"\n```\n\n**Use Cases:**\n- Browse available public retrievers\n- Discover search patterns and implementations\n- Find retrievers to use as templates\n- Explore what others have built","operationId":"list_public_retrievers_v1_public_retrievers__get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Page Size"},"description":"Results per page (max 100)"},{"name":"include_inactive","in":"query","required":false,"schema":{"type":"boolean","description":"Include inactive retrievers in results","default":false,"title":"Include Inactive"},"description":"Include inactive retrievers in results"},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Search query for filtering by title or description","title":"Search"},"description":"Search query for filtering by title or description"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPublicRetrieversResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/execute":{"post":{"tags":["Public Retriever API"],"summary":"Execute Public Retriever","description":"Execute a published retriever (public endpoint).\n\n**Authentication:**\n- Requires `X-Public-API-Key` header with the retriever's public API key\n- If password-protected, also requires `X-Retriever-Password` header\n\n**Rate Limiting:**\n- Subject to per-retriever rate limits (per minute/hour/day)\n- May also have IP-based rate limits\n\n**Response:**\n- Only returns fields specified in `exposed_fields` configuration\n- Internal metadata is stripped from results\n- Includes `execution_id` for interaction tracking\n- URLs returned by default (return_urls=true) for media rendering\n\n**Example:**\n```bash\ncurl -X POST \"https://api.mixpeek.com/v1/public/retrievers/video-search/execute\" \\\n  -H \"X-Public-API-Key: prk_abc123...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"inputs\": {\"query\": \"red car\"},\n    \"pagination\": {\"method\": \"offset\", \"page_number\": 1, \"page_size\": 10}\n  }'\n```\n\n**Example with return_urls disabled:**\n```bash\ncurl -X POST \"https://api.mixpeek.com/v1/public/retrievers/video-search/execute?return_urls=false\" \\\n  -H \"X-Public-API-Key: prk_abc123...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"inputs\": {\"query\": \"red car\"},\n    \"pagination\": {\"method\": \"offset\", \"page_number\": 1, \"page_size\": 10}\n  }'\n```","operationId":"execute_public_retriever_v1_public_retrievers__public_name__execute_post","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"},{"name":"return_urls","in":"query","required":false,"schema":{"type":"boolean","description":"Whether to return signed URLs for media assets (images, videos, audio). Default: True for public retrievers to enable media rendering. Set to False if you only need metadata without URLs.","default":true,"title":"Return Urls"},"description":"Whether to return signed URLs for media assets (images, videos, audio). Default: True for public retrievers to enable media rendering. Set to False if you only need metadata without URLs."},{"name":"X-Public-API-Key","in":"header","required":true,"schema":{"type":"string","title":"X-Public-Api-Key"}},{"name":"X-Retriever-Password","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Retriever-Password"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieverExecutionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/config":{"get":{"tags":["Public Retriever API"],"summary":"Get Public Retriever Config","description":"Get display configuration for public page rendering.\n\nReturns the UI configuration needed to render the public search interface.\nUsed by the frontend app at apps.mixpeek.com to dynamically build the UI.\n\n**Authentication:**\n- NO authentication required - this endpoint is public\n- Anyone can access the config if they know the public_name\n- The config includes the public_api_key needed for execute/interact endpoints\n\n**Response includes:**\n- Display config (logo, theme, components, field rendering)\n- Title and description\n- Password protection status\n- Public API key for subsequent authenticated requests\n\n**Example:**\n```bash\ncurl -X GET \"https://api.mixpeek.com/v1/public/retrievers/video-search/config\"\n```","operationId":"get_public_retriever_config_v1_public_retrievers__public_name__config_get","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRetrieverConfigResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/verify":{"post":{"tags":["Public Retriever API"],"summary":"Verify Password","description":"Verify password for a password-protected retriever.\n\nAllows the frontend to check if a password is valid before attempting to execute\na password-protected retriever. Returns the public API key if the password is valid.\n\n**Authentication:**\n- NO authentication required - this endpoint is public\n- The password is verified against the retriever's configured password\n\n**Use Case:**\n1. Frontend detects that a retriever is password-protected (from /config endpoint)\n2. User enters password in the UI\n3. Frontend calls this endpoint to verify the password\n4. If valid, frontend receives the public_api_key to use for subsequent requests\n\n**Response:**\n- `valid`: Whether the password is correct\n- `public_api_key`: The API key to use for execute/interact endpoints (only if valid)\n\n**Example:**\n```bash\ncurl -X POST \"https://api.mixpeek.com/v1/public/retrievers/private-search/verify\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"password\": \"secret123\"}'\n```\n\n**Response if valid:**\n```json\n{\n  \"valid\": true,\n  \"public_api_key\": \"prk_abc123...\"\n}\n```\n\n**Response if invalid:**\n```json\n{\n  \"valid\": false,\n  \"public_api_key\": null\n}\n```","operationId":"verify_password_v1_public_retrievers__public_name__verify_post","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyPasswordRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyPasswordResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/interactions":{"post":{"tags":["Public Retriever API"],"summary":"Track Interaction","description":"Track user interaction with search results.\n\nRecords user engagement (clicks, views, etc.) for analytics and\npotential search optimization (Learning to Rank).\n\n**Authentication:**\n- Requires `X-Public-API-Key` header\n- Password NOT required (tracking should work even without auth)\n\n**Recommended Headers:**\n- `X-Session-ID`: Session identifier for tracking user journey\n\n**Interaction Types:**\n- `VIEW`: Result was visible in viewport\n- `CLICK`: User clicked on result\n- `POSITIVE_FEEDBACK`: User explicitly liked result\n- `NEGATIVE_FEEDBACK`: User explicitly disliked result\n- `PURCHASE`: User purchased/converted\n- `ADD_TO_CART`: User added to cart\n- `WISHLIST`: User added to wishlist\n- `LONG_VIEW`: User spent significant time viewing\n- `SHARE`: User shared result\n- `BOOKMARK`: User bookmarked result\n\n**Example:**\n```bash\ncurl -X POST \"https://api.mixpeek.com/v1/public/retrievers/video-search/interactions\" \\\n  -H \"X-Public-API-Key: prk_abc123...\" \\\n  -H \"X-Session-ID: sess_xyz...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"document_id\": \"doc_123\",\n    \"interaction_type\": [\"CLICK\"],\n    \"position\": 2,\n    \"execution_id\": \"exec_abc\",\n    \"query_snapshot\": {\"query\": \"red car\"}\n  }'\n```","operationId":"track_interaction_v1_public_retrievers__public_name__interactions_post","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"},{"name":"X-Session-ID","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Session-Id"}},{"name":"X-Public-API-Key","in":"header","required":true,"schema":{"type":"string","title":"X-Public-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicInteractionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/interactions/batch":{"post":{"tags":["Public Retriever API"],"summary":"Track Interaction Batch","description":"Track multiple interactions in a single request (batching).\n\nMore efficient than sending individual interaction requests.\nUse this for batching viewport visibility, bulk actions, etc.\n\n**Authentication:**\n- Requires `X-Public-API-Key` header\n- Password NOT required (tracking should work even without auth)\n\n**Recommended Headers:**\n- `X-Session-ID`: Applied to all interactions in the batch\n\n**Limits:**\n- Maximum 100 interactions per batch\n\n**Example:**\n```bash\ncurl -X POST \"https://api.mixpeek.com/v1/public/retrievers/video-search/interactions/batch\" \\\n  -H \"X-Public-API-Key: prk_abc123...\" \\\n  -H \"X-Session-ID: sess_xyz...\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"interactions\": [\n      {\n        \"document_id\": \"doc_123\",\n        \"interaction_type\": [\"VIEW\"],\n        \"position\": 0,\n        \"execution_id\": \"exec_abc\"\n      },\n      {\n        \"document_id\": \"doc_456\",\n        \"interaction_type\": [\"VIEW\"],\n        \"position\": 1,\n        \"execution_id\": \"exec_abc\"\n      }\n    ]\n  }'\n```","operationId":"track_interaction_batch_v1_public_retrievers__public_name__interactions_batch_post","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"},{"name":"X-Session-ID","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Session-Id"}},{"name":"X-Public-API-Key","in":"header","required":true,"schema":{"type":"string","title":"X-Public-Api-Key"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicInteractionBatchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/retrievers/{public_name}/template":{"get":{"tags":["Public Retriever API"],"summary":"Get Public Retriever Template","description":"Get retriever configuration as a reusable template.\n\nReturns the published retriever's configuration in a format that can be\ndirectly used to create your own retriever. This is perfect for discovering\npatterns and adapting them to your own data.\n\n**Authentication:**\n- NO authentication required - this endpoint is completely public\n- Anyone can get the template if they know the public_name\n\n**Use Case:**\n1. Browse public retrievers to find patterns you like\n2. GET this endpoint to get the full configuration\n3. Copy the config and modify for your needs (especially `collection_identifiers`)\n4. POST to `/v1/retrievers` to create your own retriever\n5. Optionally publish it with the same display_config\n\n**What's included:**\n- Retriever configuration (stages, input_schema, budget_limits)\n- Display configuration (for publishing with similar UI)\n- Original metadata for reference\n\n**What you need to change:**\n- `collection_identifiers`: Replace with your own collection IDs\n- `retriever_name`: Give it a unique name\n- Optionally modify stages, inputs, display_config as needed\n\n**Example:**\n```bash\n# 1. Get the template\ncurl -X GET \"https://api.mixpeek.com/v1/public/retrievers/video-search/template\"\n\n# 2. Modify the response and create your own retriever\ncurl -X POST \"https://api.mixpeek.com/v1/retrievers\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"retriever_name\": \"my_video_search\",\n    \"collection_identifiers\": [\"my_videos\"],\n    \"stages\": [...],  # From template\n    \"input_schema\": {...},  # From template\n    \"budget_limits\": {...},  # From template\n    \"display_config\": {...}  # From template (optional)\n  }'\n```\n\n**Response includes:**\n- All retriever configuration fields\n- Display config for publishing (optional to use)\n- Source reference (where this template came from)","operationId":"get_public_retriever_template_v1_public_retrievers__public_name__template_get","parameters":[{"name":"public_name","in":"path","required":true,"schema":{"type":"string","description":"Public name of the published retriever","title":"Public Name"},"description":"Public name of the published retriever"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRetrieverTemplateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/scaffolds":{"get":{"tags":["Public Templates API","Public Scaffolds"],"summary":"List Scaffolds","description":"List available scaffold templates (public, no auth required).\n\nScaffolds are pre-configured templates that create complete infrastructure:\n- Namespace with feature extractors\n- Bucket with data schema\n- Collection with processing config\n- Retriever with search pipeline\n\n**Categories:**\n- `media` - Video, image, podcast search\n- `documents` - Document Q&A, RAG\n- `ecommerce` - Product catalog search\n\n**To instantiate (requires auth):**\n```\nPOST /v1/templates/scaffolds/{template_id}/instantiate\n{\"namespace_name\": \"my_app\"}\n```","operationId":"list_scaffolds_v1_public_templates_scaffolds_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by category (media, documents, ecommerce)","title":"Category"},"description":"Filter by category (media, documents, ecommerce)"},{"name":"is_active","in":"query","required":false,"schema":{"type":"boolean","description":"Only show active templates","default":true,"title":"Is Active"},"description":"Only show active templates"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTemplateModel"},"title":"Response List Scaffolds V1 Public Templates Scaffolds Get"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/scaffolds/{template_id}":{"get":{"tags":["Public Templates API","Public Scaffolds"],"summary":"Get Scaffold","description":"Get scaffold template details (public, no auth required).\n\nReturns the complete configuration including:\n- Namespace: feature extractors, payload indexes\n- Bucket: name, description, schema\n- Collection: feature extractor config\n- Retriever: stages, input schema\n\n**To instantiate (requires auth):**\n```\nPOST /v1/templates/scaffolds/{template_id}/instantiate\n{\"namespace_name\": \"my_app\"}\n```","operationId":"get_scaffold_v1_public_templates_scaffolds__template_id__get","parameters":[{"name":"template_id","in":"path","required":true,"schema":{"type":"string","description":"Scaffold template ID","title":"Template Id"},"description":"Scaffold template ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/namespaces":{"get":{"tags":["Public Templates API"],"summary":"List Public Namespace Templates","description":"List public namespace templates (no authentication required).\n\nReturns only templates marked as public (is_public=True).","operationId":"list_public_namespace_templates_v1_public_templates_namespaces_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by category","title":"Category"},"description":"Filter by category"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTemplateModel"},"title":"Response List Public Namespace Templates V1 Public Templates Namespaces Get"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/namespaces/{template_id}":{"get":{"tags":["Public Templates API"],"summary":"Get Public Namespace Template","description":"Get public namespace template details (no authentication required).\n\nReturns template only if marked as public.","operationId":"get_public_namespace_template_v1_public_templates_namespaces__template_id__get","parameters":[{"name":"template_id","in":"path","required":true,"schema":{"type":"string","description":"Template ID","title":"Template Id"},"description":"Template ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/retrievers":{"get":{"tags":["Public Templates API"],"summary":"List Public Retriever Templates","description":"List public retriever templates (no authentication required).\n\nReturns only templates marked as public (is_public=True).","operationId":"list_public_retriever_templates_v1_public_templates_retrievers_get","parameters":[{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by category","title":"Category"},"description":"Filter by category"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseTemplateModel"},"title":"Response List Public Retriever Templates V1 Public Templates Retrievers Get"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/public/templates/retrievers/{template_id}":{"get":{"tags":["Public Templates API"],"summary":"Get Public Retriever Template","description":"Get public retriever template details (no authentication required).\n\nReturns template only if marked as public.","operationId":"get_public_retriever_template_v1_public_templates_retrievers__template_id__get","parameters":[{"name":"template_id","in":"path","required":true,"schema":{"type":"string","description":"Template ID","title":"Template Id"},"description":"Template ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseTemplateModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/health":{"get":{"tags":["Health","Health"],"summary":"Healthcheck","description":"Health check endpoint.","operationId":"healthcheck_v1_health_get","parameters":[{"name":"deep","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Deep"}},{"name":"metrics","in":"query","required":false,"schema":{"type":"boolean","description":"Include Layer 2 protection metrics","default":false,"title":"Metrics"},"description":"Include Layer 2 protection metrics"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheckResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/resources/search":{"post":{"tags":["Resource Search"],"summary":"Search Resources","description":"Search across all resource names and IDs within your namespace.\n\n    This endpoint performs a case-insensitive search across:\n    - Buckets (bucket_name, bucket_id)\n    - Collections (collection_name, collection_id)\n    - Retrievers (retriever_name, retriever_id)\n    - Taxonomies (taxonomy_name, taxonomy_id)\n    - Clusters (cluster_name, cluster_id)\n    - Namespaces (namespace_name, namespace_id)\n\n    Results are sorted by relevance (exact matches first) and creation time (newest first).\n    Use the resource_types parameter to filter searches to specific resource types.\n    Pagination is supported via limit and offset parameters.","operationId":"search_resources_v1_resources_search_post","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/features/extractors":{"get":{"tags":["Feature Extractors"],"summary":"List Feature Extractors","description":"List all available feature extractors grouped by category","operationId":"list_feature_extractors_v1_collections_features_extractors_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FeatureExtractorResponseModel"},"type":"array","title":"Response List Feature Extractors V1 Collections Features Extractors Get"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/collections/features/extractors/{feature_extractor_id}":{"get":{"tags":["Feature Extractors"],"summary":"Get Feature Extractor by Name","description":"Get detailed information about a specific feature extractor by its name","operationId":"get_feature_extractor_by_id_v1_collections_features_extractors__feature_extractor_id__get","parameters":[{"name":"feature_extractor_id","in":"path","required":true,"schema":{"type":"string","title":"Feature Extractor Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeatureExtractorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections":{"post":{"tags":["Collections"],"summary":"Create Collection","description":"This endpoint allows you to create a new collection.","operationId":"create_collection_v1_collections_post","parameters":[{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCollectionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/clone":{"post":{"tags":["Collections"],"summary":"Clone Collection","description":"Clone a collection with optional modifications.\n\n    **Purpose:**\n    Creates a NEW collection (with new ID) based on an existing one. This is the\n    recommended way to iterate on collection designs when you need to modify core\n    configuration that PATCH doesn't allow (source, feature_extractor, field_passthrough).\n\n    **Clone vs PATCH vs Template:**\n    - **PATCH**: Update metadata only (enabled, metadata, taxonomy_applications)\n    - **Clone**: Copy and modify core configuration (source, feature_extractor)\n    - **Template**: Start from a pre-configured pattern (for new projects)\n\n    **Common Use Cases:**\n    - Change feature extractor configuration (model, parameters)\n    - Modify field_passthrough to include/exclude fields\n    - Switch to different source (bucket or collection)\n    - Test modifications before replacing production collection\n    - Create variants (e.g., different embedding models)\n\n    **How it works:**\n    1. Source collection is copied\n    2. You provide a new name (REQUIRED)\n    3. Optionally override any other fields\n    4. A new collection is created with a new ID\n    5. Original collection remains unchanged","operationId":"clone_collection_v1_collections__collection_identifier__clone_post","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"Source collection ID or name to clone.","title":"Collection Identifier"},"description":"Source collection ID or name to clone."},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloneCollectionRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloneCollectionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/trigger":{"post":{"tags":["Collections"],"summary":"Trigger Collection Processing","description":"Process data through a collection - works for both bucket-sourced and collection-sourced collections.\n\n    **For bucket-sourced collections:**\n    Discovers objects from source bucket(s), creates a batch, and submits for processing.\n    Use `include_buckets` to limit which source buckets to process from.\n\n    **For collection-sourced collections:**\n    Processes existing documents from upstream collection(s).\n    Use `include_collections` to limit which source collections to process from.\n\n    **Filtering:**\n    - `source_filters`: Field-level filters using LogicalOperator format\n    - Example: `{\"AND\": [{\"field\": \"status\", \"operator\": \"eq\", \"value\": \"pending\"}]}`\n    - For specific objects: `{\"AND\": [{\"field\": \"object_id\", \"operator\": \"in\", \"value\": [\"obj_1\", \"obj_2\"]}]}`\n\n    **Returns:**\n    - batch_id: Track progress via GET /batches/{batch_id}\n    - task_id: Monitor via GET /tasks/{task_id}","operationId":"trigger_collection_v1_collections__collection_identifier__trigger_post","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID or name of the collection to trigger","title":"Collection Identifier"},"description":"The ID or name of the collection to trigger"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerCollectionRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TriggerCollectionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}":{"get":{"tags":["Collections"],"summary":"Get Collection","description":"This endpoint allows you to retrieve a collection by ID or name.","operationId":"get_collection_v1_collections__collection_identifier__get","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID or name of the collection to retrieve","title":"Collection Identifier"},"description":"The ID or name of the collection to retrieve"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Collections"],"summary":"Update Collection","description":"Update mutable collection fields (e.g., taxonomy_applications)","operationId":"update_collection_v1_collections__collection_identifier__patch","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID or name of the collection to update","title":"Collection Identifier"},"description":"The ID or name of the collection to update"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Updates"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Collections"],"summary":"Delete Collection","description":"This endpoint deletes a collection and all its resources including:\n    - Qdrant points (documents) with this collection_id\n    - Cache entries\n    - MongoDB collection metadata\n\n    Note: Collections are payload IDs within the namespace's Qdrant collection,\n    not separate Qdrant collections.\n\n    The deletion is performed synchronously and returns when complete.","operationId":"delete_collection_v1_collections__collection_identifier__delete","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID or name of the collection to delete","title":"Collection Identifier"},"description":"The ID or name of the collection to delete"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/features":{"get":{"tags":["Collections"],"summary":"Describe collection features","description":"List feature addresses and metadata available in this collection","operationId":"describe_collection_features_route_v1_collections__collection_identifier__features_get","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID or name of the collection to describe","title":"Collection Identifier"},"description":"The ID or name of the collection to describe"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DescribeCollectionFeaturesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/list":{"post":{"tags":["Collections"],"summary":"List Collections","description":"This endpoint allows you to list collections.","operationId":"list_collections_v1_collections_list_post","parameters":[{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Offset"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCollectionsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCollectionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_id}/sync-schema":{"post":{"tags":["Collection Schema"],"summary":"Sync Collection Schema","description":"Sample documents from Qdrant and automatically discover new fields to add to the collection's output_schema.\n\n    This endpoint:\n    - Samples N documents from the collection (default: 1000)\n    - Discovers all fields present in actual documents\n    - Merges discovered fields into the collection's output_schema (additive only)\n    - Optionally cascades schema updates to downstream collections\n    - Respects debounce window (max once per 5 minutes, unless force=true)\n\n    The sync operation is additive only - it never removes or changes existing field types.\n\n    Use this endpoint to:\n    - Manually trigger schema discovery after data ingestion\n    - Force an immediate schema sync (bypassing debounce)\n    - Update schemas with new fields discovered in documents","operationId":"sync_collection_schema_v1_collections__collection_id__sync_schema_post","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","description":"Collection ID to sync schema for","title":"Collection Id"},"description":"Collection ID to sync schema for"},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchemaSyncRequest","default":{"sample_size":1000,"force":false,"cascade_to_downstream":true}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SchemaSyncResponse"},{"$ref":"#/components/schemas/SchemaSyncSkippedResponse"}],"title":"Response Sync Collection Schema V1 Collections  Collection Id  Sync Schema Post"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/documents/{document_id}":{"get":{"tags":["Collection Documents"],"summary":"Get a document by ID.","description":"Get a document by ID.","operationId":"get_document_v1_collections__collection_identifier__documents__document_id__get","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection.","title":"Collection Identifier"},"description":"The ID of the collection."},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the document to retrieve.","title":"Document Id"},"description":"The ID of the document to retrieve."},{"name":"return_url","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Return Url"}},{"name":"return_vectors","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Return Vectors"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Collection Documents"],"summary":"Update Document","description":"Update a document by ID.","operationId":"update_document_v1_collections__collection_identifier__documents__document_id__put","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection.","title":"Collection Identifier"},"description":"The ID of the collection."},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the document to update.","title":"Document Id"},"description":"The ID of the document to update."},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Collection Documents"],"summary":"Patch Document","description":"Partially update a document by ID (PATCH operation).","operationId":"patch_document_v1_collections__collection_identifier__documents__document_id__patch","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection.","title":"Collection Identifier"},"description":"The ID of the collection."},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the document to patch.","title":"Document Id"},"description":"The ID of the document to patch."},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDocumentRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Collection Documents"],"summary":"Delete a document by ID.","description":"Delete a document by ID.","operationId":"delete_document_v1_collections__collection_identifier__documents__document_id__delete","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection.","title":"Collection Identifier"},"description":"The ID of the collection."},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the document to delete.","title":"Document Id"},"description":"The ID of the document to delete."},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericDeleteResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/documents/list":{"post":{"tags":["Collection Documents"],"summary":"List documents.","description":"List documents with optional grouping support.\n\nSupports two modes:\n1. Regular listing: Returns flat list of documents with pagination\n2. Grouped listing: When group_by is specified, returns documents grouped by field value\n\nWhen using group_by:\n- Requires a payload index on the specified field in Qdrant\n- Pagination applies to groups, not individual documents\n- Each group contains all documents sharing the same field value","operationId":"list_documents_v1_collections__collection_identifier__documents_list_post","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection to list documents from.","title":"Collection Identifier"},"description":"The ID of the collection to list documents from."},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Offset"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDocumentsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDocumentsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/documents/bulk":{"patch":{"tags":["Collection Documents"],"summary":"Bulk Update Documents","description":"Bulk update documents matching filter conditions.\n\nPartially updates all documents in the collection that match the provided filters.\nIf no filters are provided, updates all documents in the collection.\n\nThis endpoint applies the SAME update_data to ALL documents matching the filters.\nFor per-document updates with different values, use POST /batch endpoint instead.","operationId":"bulk_update_documents_v1_collections__collection_identifier__documents_bulk_patch","parameters":[{"name":"collection_identifier","in":"path","required":true,"schema":{"type":"string","description":"The ID of the collection to update documents in.","title":"Collection Identifier"},"description":"The ID of the collection to update documents in."},{"name":"Authorization","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings.","examples":["Bearer YOUR_API_KEY","Bearer YOUR_STRIPE_API_KEY"],"title":"Authorization"},"description":"REQUIRED: Bearer token authentication using your API key. Format: 'Bearer sk_xxxxxxxxxxxxx'. You can create API keys in the Mixpeek dashboard under Organization Settings."},{"name":"X-Namespace","in":"header","required":false,"schema":{"type":"string","description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'","examples":["ns_abc123def456","production","my-namespace"],"title":"X-Namespace"},"description":"REQUIRED: Namespace identifier for scoping this request. All resources (collections, buckets, taxonomies, etc.) are scoped to a namespace. You can provide either the namespace name or namespace ID. Format: ns_xxxxxxxxxxxxx (ID) or a custom name like 'my-namespace'"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateDocumentsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkUpdateDocumentsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_identifier}/documents/batch":{"post":{"tags":["Collection Documents"],"summary":"Batch Update Documents","description":"Batch update multiple documents by explicit IDs or filters.\
[...]
